<robot name="hungry-toaster">
  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0 0.0"/>
      <geometry>
        <mesh filename="package://hungry-toaster_description/meshes/hungry-toaster-meters.stl"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_link_to_laser" type="fixed">
    <parent link="base_link"/>
    <child link="Laser"/>
    <origin xyz="0 0 1.0"/>
  </joint>

  <link name="Laser">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>
</robot>